.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.grass {
    background-color: #7AC74C;
}

.flying {
    background-color: #A98FF3;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.electric {
    background-color: #F7D02C;
}

.ground {
    background-color: #E2BF65;
}

.rock {
    background-color: #B6A136;
}

.psychic {
    background-color: #F95587;
}

.ice {
    background-color: #96D9D6;
}

.bug {
    background-color: #A6B91A;
}

.ghost {
    background-color: #735797;
}

.steel {
    background-color: #B7B7CE;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.fairy {
    background-color: #D685AD;
}

.modal-header{
    height: 2rem;
}

.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.logo-pokedex {
    height: auto;
    width: 13%;
}

.container {
    margin-top: 5rem;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    height: auto;
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.25) 8px 10px 8px;
    border-radius: 10px;
    align-self: flex-start;
    margin: 5px;
    cursor: pointer;
}

.card:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
    z-index: 1000;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 8px 8px 8px 16px;
}

.data-pkm p {
    margin: 0 0 6px 0;
}

.number-pkm {
    color: #A4A4A4 !important;
    font-size: 15px;
    font-weight: bold;
}

.type-pokemon {
    border-radius: 30px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: arial;
    font-size: 10px;
    color: white;
}

.pokedex-container {
    background-color: #981818;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokedex-det1{
    display: flex;
    flex-direction: column;
    margin: 2px 2px 2px 2px;
    background-color: #ff0000;
    width: 22rem;
    border-radius: 10px;
}

.pokedex-nameContainer{
    display: flex;
    justify-content: space-around;
}

.pokemon-name {
    color: #ffffff;
    font-weight: bold;
    float: left;
}

.pokemon-number {
    color: #ffffff;
    font-weight: bold;
    float: right;
}

.pokedex-imgContainer {
    justify-content: center;
    display: flex;
}

.pokedex-img {
    background-color: #A4A4A4;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
}

.img-pokemon {
    background-color: #96D9D6;
    border-radius: 10px;
    margin: 20px 30px 20px 30px;
    border: 1px solid #000000;
}

.pokedex-types{
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.pokedex-types > span{
    font-size: 15px;
}

.div-stat{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    margin: auto;
}

.stat-name{
    color: #ffffff;
    margin: 0 0 0 5px;
    
}

.progress{
    margin: 5px 10px 5px 10px;
    height: 1.8vh;
    width: 100%;
}

.stat-number{
    margin: 0;
    font-size: 11px;
}



/********************************/
/*.card {
    text-align: center;
    width: 15rem;
    height: 17rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .2s;
}*/



.spinner-border {
    height: 8rem;
    width: 8rem;
    align-self: center;
}

.card-img-top {
    height: 10rem;
    width: auto;
    object-fit: contain;
}




.li-pokemon {
    flex-direction: row !important;
    /* You can also add some margins here to make it look prettier */
}

.page-item {
    cursor: pointer;
}

.footer {
    background-color: #000000;
    color: white;
}